<h1>{{optionS}} page</h1>
<div class="container">
<form class="form-inline py-3" (submit)="onlogin(loginform)" #loginform="ngForm">
    <div class="row">
      <h3 class="col-lg-2">Username</h3>
      <input type="text"
      class="col-lg-5"
      ngModel name="enteredusername" 
      placeholder="Enter username"
      required
      minlength="1"
      pattern="^(?=.{8,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"
      #enteredusername="ngModel"/>
     <div *ngIf="enteredusername.invalid && (enteredusername.dirty || enteredusername.touched)">invalid</div>
    </div>
    <br>

    <div class="row">
    <h3 class="col-lg-2">Password</h3>
    <input type="password"
    ngModel name="enteredpassword"
    class="col-lg-5"
     placeholder="Enter password"
    required
    minlength="1"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    #enteredpassword="ngModel"/>
    <div *ngIf="enteredpassword.invalid && (enteredpassword.dirty || enteredpassword.touched)">invalid</div>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">{{optionS}}</button>
</form>
</div>